@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');


.App-logo {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 1.5em;
    color: pink;
    font-weight: lighter;
}

.App-logo a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


.App {
    text-align: center;
   
  }
  
  .App-header {
    background-color: #111;
    height: 60px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  h3 {
    color: #FFF;
  }